@import url(../Css/clash-display.css);

/* properties */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --c-black: #000000;
    --c-dark: #3E362E;
    --c-brand: #865D36;
    --c-brand-light: #93785B;
    --c-brand-rgb: 0,0,0;
    --c-body: #f5efea;
    --c-text : #865D36 ;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --box-shadow-light: 0px 15px 25px rgba(246, 194, 138, 0.205);
    --transition: all 0.5s ease;
}

body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-text);
    scrollbar-width: none;
    background-color: var(--c-body);
}

h1,h2,h3,h4,h5,h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}
/* Image Zoom */

.image-zoom{
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;

}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

/* navbar */

.navbar {
    box-shadow: var(--box-shadow-light);
    background-color: #f5efea;
}

.navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: var(--c-text);
}

.navbar-nav .nav-link.active {
    font-size: 18px;
    color: var(--c-black);
    text-decoration: double;
    transition: var(--transition);

}

.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
    border-radius: 5px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/* hero */

.span1 {
    padding: 3px 15px;
    font-size: 24px;
    font-weight: 500;
    color: var(--c-body);
    background-color: var(--c-brand);
    border-radius: 5px;
}

#hero img {
    margin-right: 130px;
    margin-bottom: 20px;
    height: 450px;
    width: 450px;
    border-radius: 12px;
}

@media (max-width: 768px) {
    #hero img {
        min-height: auto;
        min-width: auto;
    }
}

#hero h4{
    color: var(--c-brand-light);
}

/* About & Skills*/

.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.span2 {
    margin-left: 10px;
    padding: 0 15px;
    color: var(--c-body);
    background-color: var(--c-brand);
    border-radius: 5px;
}

i {
    color: var(--c-brand);
}

.iconbox {
    width: 70px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--c-body);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* Projects */

.projects {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.projects::after {
    content: "";
    width: 40px;
    height: 40px;
    background: var(--c-body);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.projects:hover::after {
    width: 100%;
    height: 100%;
    background: #865d369f;
    z-index: -1;
}

.projects img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
}

.projects:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .section-title h1 {
        font-size: 2rem;
    }

    .projects {
        padding: 15px;
    }
}

.projects:hover h5,p {
    color: black;
    transition: var(--transition);
}

.projects:hover .iconbox{
    background-color: rgba(45,45,45, 0.2);
    transition: var(--transition);
}

.projects .btn {
    font-weight: 4000;
    font-size: 14px;
    text-transform: none;
    border-radius: 15px;
    padding: 8px 16px;
    box-shadow: var(--box-shadow);
}

.projects:hover .btn-brand {
    background-color: black;
    border-color: black;
    color: white;
}

.projects .btn-brand:hover {
    background-color: rgb(49, 49, 49);
    border-color: rgb(49, 49, 49);
    color: white;
}

/* Photo Gallery*/

.photogallery-item .iconbox{
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.photogallery-item i {
    color: white;
}

.photogallery-item:hover .iconbox {
    background-color: #865d36bc;
    opacity: 1;
    top: 50%;
}

/* Footer */
footer {
    background: var(--c-dark);
    padding-top: 70px;
}

.footer-top {
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 5px;
}

footer h5,
footer li,
footer a,
footer p {
    color: var(--c-body);
}

footer a:hover{
    color: rgba(255, 255, 255);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    margin-left: 10px;
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

footer .linec {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons, #icon{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--c-body);
    border-color: rgba(255, 255, 255, 0.158);
    border-radius: 100px;
    font-size: 20px;
}

#icon:hover{
    background-color: var(--c-body);
    color: var(--c-brand);
    transition: var(--transition);
}

footer .footer-right {
    margin-top: 25px;
}

.footer-bottom .list{
    opacity: 40%;
}